
# 1. Ambienti Virtuali e Python
__pycache__/
*.py[cod]
*$py.class
.venv/
vision/
env/
.env
requirements.txt

# 2. Jupyter Notebooks (File temporanei e cache)
.ipynb_checkpoints/

# 3. Dati Grezzi ed Estratti (FONDAMENTALE: Ignora i video e gli array!)
# Conserviamo solo le cartelle principali dei dataset (grazie ai .gitkeep)
datasets/*/*
!datasets/*/.gitkeep

# 4. Modelli PyTorch Addestrati (Pesano tantissimo, non vanno su Git)
models/*.pt
models/*.pth
models/*.weights

# 5. File di Sistema (Windows/Mac)
.DS_Store
Thumbs.db

# 6. IDEs e Code Editors
.vscode/
.idea/


# 7. Documentazione
docs/